/* Fondo con efecto sombreado en el centro */
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(15,23,42,1) 20%, rgba(30,58,138,1) 50%, rgba(37,99,235,1) 100%);
    color: white;
    font-family: Arial, sans-serif;
  }
  
  
  .login-container {
    text-align: center;
  }
  
  .login-box {
    background: #0f172a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 350px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    background: #cbd5e1;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .input-container input {
    border: none;
    width: 100%;
  }
  
  .login-button {
    background: #334155;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  